.about {
    h1 {
      color: darkblue;
      font-size: 30px;
    }
    background-color: white;
    color: black;
    width: 70%;
    margin: auto;
    font-size: 20px;
    line-height: 40px;
    padding-top: 30px;
  }

.p1, .p2 {
    width: 90%;
    margin: auto;
}



.app {
    background-color: white;
   }

h1, .h2-p2 { 
    text-align: center;
}

.p2 {
    margin-top: 20px;
}

.p1-body, .p2-body {
    text-indent: 2em;
    width: 90%;
    margin: auto;
}