.contact {
    color: black;
    margin: auto;
    width: 70%;
    font-size: 20px;
    line-height: 40px;
    padding-top: 30px;
    h1 {
        color: darkblue;
        font-size: 30px;

    }
}

.message-box {
    margin: auto;
    width: 500px;
}