.navbar-default {
    background: none;
    background-image: none;
    border-radius: 0;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    font-family: 'Patua One', cursive;
  }

.navbar-default .navbar-brand {
    color: white;
    
    
  }

  .navbar-default .navbar-brand:focus {
      color:white;
  }

.navbar-default .navbar-nav>li>a {
    color: white;
    
  }

  .navbar-default .navbar-nav>li>a:focus{
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
    border-bottom: 2.2px solid white;
    color: white;
    padding-bottom: 10px;
    
}

.navbar-default
{
    border:none;
    box-shadow:none;
}

.navbar-default { margin : 0 !important; }


