form-inline-search {
    width: 100%;
  }
  
  .form-group-search {
    width: 90%;
  }
  
  .input-group-search {
    width: 90% !important;
  }
  
  .form-control-search {
    width: 50% !important;
  }