.navbar-default {
    background-color: #448AFF;
    background-image: none;
   
  }

.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
  }

.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: bold;
  }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    background-color: white;
}

.navbar-default
{
    border:none;
    box-shadow:none;
}

.navbar-default { margin : 0 !important; }