.navbar-default {
    background-color: #448AFF;
    background-image: none;
    border-radius: 0;
  }

.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
    
  }

  .navbar-default .navbar-brand:focus {
      color:white;
  }

.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: bold;
  }

  .navbar-default .navbar-nav>li>a:focus{
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
    border-bottom: 2.2px solid white;
    color: white;
    padding-bottom: 10px;
    
}

.navbar-default
{
    border:none;
    box-shadow:none;
}

.navbar-default { margin : 0 !important; }

