
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Patua One', cursive;
  color: white;
}

#root {
  height: 100%;
}

.app {
  height: 100vh;
  background-image: url('./mlptest.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.main {
  text-align: center;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.homemessage{
  color: white;
  margin: auto;
  margin-top: 200px;
  line-height: 50px;
  font-family: 'Patua One';
  font-size: 32px;
  width: 70%;
  
}
  
.searchbar{
  margin: auto;
  margin-top: 40px;
  width: 50%

}





