.body {
    height: 100%;
    background: #F5F5F5;
    font-family: 'Patua One', cursive;
}

.checkbox {
    width: 80%;
    margin: auto;
}

.table-div {
    color: black;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    font-size: 15px;
    font-family: 'Roboto'
}

.results-header {
    color: black;
    margin: auto;
    width: 500px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 50px;
    text-align:center
}

.foot {
    position:relative;
    left:0;
    bottom:0;
    right:0;
    margin-top:30px;
}
.labels {
    height: 100%;
}
.results-h1 {
    margin: auto;
    width: auto;
    font-size: 30px;
}
.results-header-address {
    margin: auto;
    width: auto;
    font-size: 50px;
}
h3 {
    font-size: 30px;
}
hr {
    border-color: #D3D3D3
}