
.main {
  h1{
    color: white;
    font-weight: bold;
    line-height: 50px;
  }
  background-image: url('./mlptest.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 800px;
  width: 100%;
  position: relative;
  

}
  

.search {
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%; left: 50%;
  
}

.welcome {
  width: 35%;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 45%;
  left: 20%;
  line-height: 50px;
}

